node_modules/
.next/
.vercel/
node/
dist/
build/
*.log
.env.local
.DS_Store
PortableGit/
clinicflowac-frontend/
clinicflowac-oss-main/
ovwi-oss-main/
pgsql16/
dart-sdk/
backend_test/
dashboard/
frontend/
lib/
load-tests/
security/
.git/
backups/
*.env*
backups/env*
# app folder included
